ion-content {
  --background: #f8f8f8;
}
.textUp {
  color: #2f2e41;
  font-weight: bold;
  margin: 20px auto 0;
}

.textSmall {
  color: #777;
  font-size: 11px;
  line-height: 16px;
}

#up {
  font-size: 16px;
  color: #777;
  text-decoration: none;
  line-height: 23px;
}

.custom-card {
  padding: 40px 0;
}
