div.list_not {
    width: 10px;
    height: 10px;
    border-radius: 7px;
    margin-top: 25px;
    margin-right: 8px;
    align-self: start;
}

.read {
    background-color: transparent;
}

.unread {
    background-color: #ff3636;
}

.no-notification {
    padding: 0 20px;
    text-align: center;
    color: #333333;
    height: calc(100% - 76px);
    display: grid;
    .text-top {
        align-self: end;
    }
}

ion-content {
    --ion-background-color: #fff;
}

ion-icon {
    font-size: 25px;
}