.img-small {
  --size: 60px;
}

.menu {
  text-align: center;
  color: #ff4e00;
  line-height: 18px;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  width: 100%;
}

ion-card {
  --background: #fff;
  border-radius: 7px !important;
  padding: 0;
  margin: 25px 13px !important;

  ion-card-header {
    border-radius: 7px 7px 0 0 !important;
    background-color: #c76101;
    color: #fff;
    padding: 5px 15px;
    display: grid;
    grid-template-columns: 50% 50%;

    .line {
      padding-top: 1px;
    }

    .infos {
      text-align: right;
      font-size: 20px;
    }
  }

  ion-card-content {
    padding: 15px;
    display: grid;
    // color: #655a5a;

    .col {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .up {
      margin-bottom: 25px;
    }
    .value-large {
      font-size: 22px;
      //   font-weight: bold;
    }
    .value-small {
      font-size: 13px;
    }

    .right {
      text-align: -webkit-right;
      ion-img {
        width: 40px;
      }
    }
  }
}

ion-card-title.money-menu {
  color: #7c7c7c;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  font-weight: 300;
}

.selected {
  border-color: #ff4e00;
  border-style: solid;
}

.desc {
  background-color: #f8f8f8;
}

ion-item,
ion-list {
  --background: #fff;
  background-color: #fff;
}

.custom-card {
  padding: 15px 30px;
  color: #000;
  text-align: left;
  transition: all 0.2s ease-in-out;
  // margin: 15px auto;
  width: fit-content;
  font-size: 19px;
  * {
    width: 100%;
  }
  .line {
    display: grid;
    grid-template-columns: 120px 9fr;
    align-items: center;
    min-height: 40px;
    &#status ion-chip {
      width: fit-content;
    }
    .value {
      font-weight: 300;
      &#value-number {
        color: var(--ion-color-primary);
        font-size: 30px;
        font-weight: 500;
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .end {
          text-align: right;
        }
      }
    }
  }
  #more-details {
    display: grid;
    grid-template-columns: 25px 7fr;
    width: fit-content;
    margin: 7px auto 0;
    color: var(--ion-color-primary);
    .icon {
      transition: transform 0.2s;
      &.turn-down {
        transform: rotate(180deg);
      }
      img {
        height: 17px;
      }
    }
  }
  #details {
    transition: max-height 0.2s ease-in-out;
    height: auto;
    margin-top: 7px;
    overflow: hidden;
    &.collapsed {
      max-height: 0 !important;
    }
  }
}

.container {
  display: grid;
  justify-items: center;
  img {
    max-width: 70vw;
    max-height: 30vh;
  }
  p {
    text-align: center;
    color: #444;
  }
  ion-button {
    margin-top: 50px;
    --box-shadow: none;
  }
}
